name: release-packages

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go 1.23
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
          id: go

      - name: Build .bin and .exe package
        run: |
          go build -v -o mati.bin .
          GOOS="windows" GOARCH="amd64" go build -v -o mati.exe .

      - uses: "softprops/action-gh-release@v1"
        with:
          files: |
            mati.bin
            mati.exe
